<html>
    <head>
        <title>cake</title>
    </head>
    <body>
        <form method="post" action="/addcake3/" enctype="multipart/form-data">
            {% csrf_token %}
        <label>cake name</label>
        <input type="text" name="cakename"><br><br>
        <label>Quantity</label>
        <input type="text" name="quantity"><br><br>
        <label>flavour</label>
        <input type="text" name="flavour"><br><br>
        <label>price</label>
        <input type="text" name="price"><br><br>
        <label>image</label>
        <input type="file" name="image"><br><br>
        <input type="submit" value="add"><br><br>
        </form>
        <a href="/back/">Back</a>
        
    </body>
</html>