<html>
    <head>

        <title>create user form</title>
       
    </head>
    <body>
        <form method="post" action="/adduser/" enctype="multipart/form-data">
            {% csrf_token %}
            <label>user name</label>
            <input type="text" name="username"><br><br>
            <label>password</label>
            <input type="text" name="password"><br><br>
            <label>first name</label>
            <input type="text" name="firstname"><br><br>
            <label>gender</label>
            <select name="type">
                <option value="select">select</option>
                <option value="Male">Male</option>
                <option value="Female">female</option>
                <option value="Other">Other</option>
            </select><br><br>
            <label>phone</label>
            <input type="text" name="phone"><br><br>
            <label>email</label>
            <input type="text" name="email"><br><br>
            <label>photo</label>
            <input type="file" name="photo"><br><br>
            <label>address</label>
            <input type="text" name="address"><br><br>
            <input type="submit" value="add">
            
         </form>
    </body>
</html>