<html>
    <head>
        <title>updateprofile</title>
    </head>
    <body>
        <form method="post" action="/updateprofile2/{{b.id}}" enctype="multipart/form-data">
            {% csrf_token %}
            <label>user name</label>
            <input type="text" name="username" value="{{ b.username }}"><br><br>
            <!-- <label>password</label>
            <input type="text" name="password"><br><br> -->
            <label>first name</label>
            <input type="text" name="firstname" value="{{ b.first_name }}"><br><br>
            <!-- <label>gender</label>
            <select name="type">
                <option value="select">select</option>
                <option value="Male">Male</option>
                <option value="Female">female</option>
                <option value="Other">Other</option>
            </select><br><br> -->
            <label>phone</label>
            <input type="text" name="phone" value="{{ b.phone }}"><br><br>
            <label>email</label>
            <input type="text" name="email" value="{{ b.email }}"><br><br>
            <label>photo</label>
            <input type="file" name="photo" value="{{ b.photo }}"><br><br>
            <label>address</label>
            <input type="text" name="address" value="{{ b.address }}"><br><br>
            <input type="submit" value="update">
         </form>
         <a href="/back1/">Back</a>    

    </body>
</html>