<html>
    <head>
    </head>
        <body>

            <h1>welcome user {{ x }}</h1>
            <!-- <img src="{{ y.photo }}" height="250" width="300">
 
            <h2>user name: {{ y.username }}</h2>
            <h2>firstname: {{ y.first_name }}</h2>
            <h2>email: {{ y.email }}</h2>
            <h2> phone : {{ y.phone }}</h2>
            <h2>address: {{ y.address }}</h2> -->

            <a href="/viewcakeonly/">view cakes</a><br><br>
            <a href="/viewprofile/">view profile</a><br><br>
            <a href="/updateprofile/{{y.id}}">update profile</a><br><br>
            <a href="/chocolatecake/">view chocolate cakes</a><br><br>
            <a href="/price/">price more than 1000</a>
        </body>

</html>